<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>IOnic's Blog: <%= error_code %></title>
    <script>
        var CAPTCHASITE = '<%= SITEKEY %>'
    </script>
    <script src="https://www.google.com/recaptcha/api.js?render=<%= SITEKEY %>"></script>
    <script>
        grecaptcha.ready(function() {
            grecaptcha.execute('<%= SITEKEY %>', {action: 'error_page'});
        });
    </script>
    <link href="/cdn/css/error.css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,700&display=swap" rel="stylesheet"> 
</head>
<body>
    <div class='errContainer'>
        <span class='errCode'><%= error_code %></span>
        <h1 class='errMessage'>Well, this is awkward.</h1>
    </div>

    <style>
        .grecaptcha-badge{
            visibility: collapse !important;  
        }
    </style>
</body>
</html>