<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Editing post: <%= data.title %></title>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="/cdn/css/postEditor.css" />
    <!-- Captcha Things -->
    <script>
      var CAPTCHASITE = "<%= SITEKEY %>";
      var isEditing = '<%= isEditing %>'
    </script>
    <script src="https://www.google.com/recaptcha/api.js?render=<%= SITEKEY %>"></script>
    <script>
      grecaptcha.ready(function() {
        grecaptcha.execute("<%= SITEKEY %>", { action: "control_panel" });
      });
    </script>
  </head>
  <body>
    <div class="editorContainer" style="height: 100vh;">
      <div id='editorAlerts'></div>
      <div class="form-row">
        <div class="col">
          <% if (isEditing) {%>
          <h3>Editing post: <%= data.title %></h3>
          <%} else {%>
            <input class="form-control" id="editorPostTitle" placeholder="Enter Title" style='margin-bottom: 10px;'>
          <%}%>
          <textarea
            type="text"
            class="form-control"
            placeholder="Post Content"
            id="editorContent"
            style="height: 70vh; resize: none;"
          >
<%= data.actualpost %></textarea
          >
        </div>
        <div class="col">
          <h3>Preview</h3>
          <div
            id="markdownContainer"
            style="display: block; height: 70vh; overflow-y: scroll;"
          >
            <div id="markdownPreview" style="display: block;"></div>
          </div>
        </div>
      </div>
      <div class="formButtons">
        <button id='updateButton' type="button" class="btn btn-secondary" onclick='updatePost("<%= data.title %>")'>Update post</button>
      </div>
    </div>

      <!-- Quick Patch to remove captchapage which is annoying -->
  <style>
    .grecaptcha-badge {
      visibility: collapse !important;
    }
  </style>

    <script
      src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
      integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
      integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
      crossorigin="anonymous"
    ></script>
    <!-- Markdown-it -->
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/markdown-it/10.0.0/markdown-it.min.js"
      integrity="sha256-YASERpEeN8gRNr/Fy4Km34WGFqIq1h6HkJMAQnVHlhk="
      crossorigin="anonymous"
    ></script>
    <script src="/cdn/js/editor.js"></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
      integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
